   <ui-select data-ng-model="model[options.key]"  theme="bootstrap" data-required="{{to.required}}"  data-disabled="{{to.disabled}}">
        <ui-select-match class="drop-down-single" placeholder="{{to.placeholder}}">{{$select.selected[to.labelProp]}}</ui-select-match>
        <ui-select-choices group-by={{to.group}} data-repeat="{{to.ngOptions}}">
            <div ng-bind-html="trustAsHtml(option[to.labelProp])"></div>
        </ui-select-choices>
    </ui-select>
<!--<div dir="ltr">ssssssssssssssss{{options | json}}</div>-->