<div class="popup clearfix">
    <!--<span class="close"></span>-->
    <h5 >{{ngDialogData.title}}  </h5>
    <p> {{ngDialogData.message}} </p>
    <div class="yes-no-buttons buttons">
       
        <button type="button" class="R" ng-click="closeThisDialog(false)">{{ngDialogData.cancel|| "לא"}}  </button>
        <button type="button" class="R save" ng-click="closeThisDialog(true)"> {{ngDialogData.ok || "כן"}} </button>
  
    </div>
</div>

<!--some deleted stuff-->
<!--<div class="overlay"></div>-->
<!--popup style deleted style="top:50px;" left:100px; width:552px;-->